#A{
	background-color: #ee3e64;
}
#B {
	background-color: #44accf;
}

#C {
	background-color: #b7d84b;
}
body {
	margin: 0px;
	padding: 0px;
}
 div{
 	width: 200px;
	height: 200px;
	position: relative;
 }
